

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
  .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
  }
  
  h3 {
    margin-top: 0;
    text-align: center;
    font-size: 2rem;
  }
  
  span {
    font-weight: bold;
  }
  
  textarea {
    margin: 10px 0 ;
    margin-left: -10rem;
    padding: 10px;
    color: black;
    font-size: large;
    text-align: center;
    background-color: transparent;
    outline: none;
    resize: none;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: copy;
  }
  
  .change-btn {
    background-color: transparent;
    color: black;
    border: solid 1px;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 1rem;
    margin-left: -6rem;
  }
  
  .change-btn:hover {
    /* background-color: #0069d9; */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);

  }
  .copy-btn
  {
    margin-left: 6rem;
    margin-top: -3rem;
    background-color: transparent;
    color: black;
    border: solid 1px;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  .copy-btn:hover
  {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }

  .toast-message{
    position: fixed;
    z-index: 999;
    transition: 1s  ease-in-out;
    top: 2rem;
    right: 2rem;
    background-color: rgb(19, 201, 110);
    color: #000;
    border: 1px solid 1#fff;
    border-radius: 0.25rem;
    padding: 1rem 2rem;
    cursor: pointer;
    }

    .toast-message-slide-in 
    {
      animation: toast-animation-in 0.5s ease-in;
    }
    .toast-message-slide-out
    {
      animation: toast-animation-out 0.5s ease-in;
    }

    @keyframes toast-animation-in 
    {
      from{
            transform: translateX(200px);
            opacity: 0;
      }
      to{
        transform: translateX(0px);
        opacity: 1;
      }
    }
    @keyframes toast-animation-out 
    {
      from{
        transform: translateX(0px);
        opacity: 1;
  }
  to{
    transform: translateX(200px);
    opacity: 0;
  }
    }